/* Global.css */
* {
  font-family: "Avenir";
}
.custom-button {
  background-color: #323636 !important; /* Green background */
  border-color: #323636 !important; /* Green border */
  color: white !important; /* White text */
  padding: 10px 20px !important; /* Add padding */
  border-radius: 5px !important; /* Rounded corners */
  font-size: 16px !important; /* Font size */
  transition: background-color 0.3s, border-color 0.3s !important; /* Smooth transition */
}

.custom-button:hover {
  background-color: #687070 !important; /* Darker green on hover */
  border-color: #687070(140, 168, 168) !important;
  box-shadow: none !important;
  border-color: #687070 !important; /* Green border */
}

.custom-button:disabled {
  background-color: #bfc9c9 !important; /* Grey color for disabled state */
  border-color: #bfc9c9 !important;
}

.custom-button:active {
  background-color: #323636 !important; /* Darker color when clicked */
  border-color: #323636 !important;
}

.form-container {
  max-width: 100%; /* Makes the container take up the full width of its parent */
  width: 80%; /* Or set it to 80% of its parent width */
  margin: 0 auto; /* Centers the container */
}

/* Override the default outline button style */
.btn-outline-primary {
  border-color: #bfc9c9 !important; /* Default blue border */
  color: #424747 !important; /* Default blue text */
  border-color: #323636 !important;
}

/* When the button is hovered */
.btn-outline-primary:hover {
  background-color: #bfc9c9 !important;
  color: white !important;
  border-color: #323636 !important;
  box-shadow: none !important;
}

/* When the button is active (selected) */
.btn-outline-primary.active {
  background-color: #9cb5be !important; /* Darker blue for active state */
  border-color: #dcdddd !important;
  color: white !important;
}

.checkmark-button {
  position: relative !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border: 2px solid #007bff !important;
  border-radius: 8px !important;
  background-color: white !important;
  color: #007bff !important;
  cursor: pointer !important;
  transition: background-color 0.3s, color 0.3s !important;
}

.checkmark-button.selected {
  background-color: #007bff !important;
  color: white !important;
}

.checkmark-button::before {
  content: "" !important;
  position: absolute !important;
  top: 5px !important;
  left: 5px !important;
  width: 12px !important;
  height: 12px !important;
  border: 2px solid white !important;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg) !important;
  opacity: 0 !important;
  transition: opacity 0.3s !important;
}

.checkmark-button.selected::before {
  opacity: 1 !important;
}
